.footer {
    .footer__top {
        padding-top: 47px;
        padding-bottom: 27px;

        .top__content {
            display: flex;
            justify-content: space-between;

            .block__text {
                @include text(rgba(#656565, .7),14px);
                margin-bottom: 5px;
                
            }

            .top__info {
                display: flex;

                .info__brand{
                    margin-right: 3px;
                }

                .info__block {
                    display: flex;
                    flex-direction: column;
                    margin-left: 28px;

                    a,p{
                        margin-right: auto;
                        @media screen and (max-width: 1000px) {
                            margin-right: 0;
                            margin-bottom: 16px;
                        }
                    }
                }

                @media screen and (max-width: 1000px) {
                    flex-direction: column;
                    .info__brand{
                        margin-bottom: 24px;
                    }

                    .info__block{
                        text-align: center;
                        margin: 0;
                    }
                }
            }

            .top__contacts {
                display: flex;
                .contacts__block{
                    text-align: right;
                    margin-left: 37px;     

                    @media screen and (max-width: 1500px) {
                        margin-left: auto;
                        max-width: 40%;
                    }
                }
                @media screen and (max-width: 1000px) {
                    flex-direction: column;
                    .contacts__block{
                        text-align: center;
                        margin: 0;
                        max-width: 100%;
                        margin-bottom: 16px;
                    }
                }
            }
            .block-gps {
                p{
                    color: #656565
                }
            }
            
            @media screen and (max-width: 1000px) {
                flex-direction: column;
                
                text-align: center;
            }
        }

        @media screen and (max-width: 1000px) {
            padding-bottom: 10px;
        }
    }

    .block__br{
        display: none;

        @media screen and (max-width: 1550px) {
            display: block;
        }
    }
}


.footer__bottom {
    background: #F6F6F6;
    padding-top: 32px;
    padding-bottom: 27px;
    text-align: center;

    .bottom__text{
        text-transform: uppercase;
        @include text(#BDBDBD,24px,bold);
    }

    @media screen and (max-width: 1000px) {
        .bottom__text{
            @include text(#BDBDBD,20px,bold);
        }
    }

    @media screen and (max-width: 800px) {
        .bottom__text{
            @include text(#BDBDBD,18px,bold);
        }
    }

    @media screen and (max-width: 600px) {
        padding-top: 22px;
        padding-bottom: 17px;

        .bottom__text{
            @include text(#BDBDBD,16px,bold);
        }
    }

    @media screen and (max-width: 500px) {
        .bottom__text{
            @include text(#BDBDBD,14px,bold);
        }
    }

    @media screen and (max-width: 400px) {
        .bottom__text{
            @include text(#BDBDBD,12px,bold);
        }
    }

    @media screen and (max-width: 350px) {
        .bottom__text{
            @include text(#BDBDBD,10px,bold);
        }
    }
}