.footer {
    .footer__top {
        padding-top: 47px;
        padding-bottom: 27px;

        .top__content {
            display: flex;
            justify-content: space-between;

            .block__text {
                @include text(rgba(#656565, .7),14px);
                margin-bottom: 5px;
            }

            .top__info {
                display: flex;

                .info__brand{
                    margin-right: 3px;
                }

                .info__block {
                    display: flex;
                    flex-direction: column;
                    margin-left: 28px;

                    a,p{
                        margin-right: auto;
                    }
                }
            }

            .top__contacts {
                display: flex;
                .contacts__block{
                    text-align: right;
                    margin-left: 37px;     

                    @media screen and (max-width: 1500px) {
                        margin-left: auto;
                        max-width: 40%;
                    }
                }
            }
            .block-gps {
                p{
                    color: #656565
                }
            }
        }
    }

    .block__br{
        display: none;

        @media screen and (max-width: 1550px) {
            display: block;
        }
    }
}


.footer__bottom {
    background: #F6F6F6;
    padding-top: 32px;
    padding-bottom: 27px;
    text-align: center;

    .bottom__text{
        text-transform: uppercase;
        @include text(#BDBDBD,24px,bold);
    }

}