@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import './variables.scss';
@import "./mixins.scss";
@import "./animations.scss";

@import "./_navigation.scss";
@import "./_footer.scss";

@import "./modals.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: scroll-behavior 1s linear;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 0px 64px;

    @media screen and (max-width: 1200px) {
        padding: 0px 40px;
    }

    @media screen and (max-width: 650px) {
        padding: 0px 20px;
    }
    @media screen and (max-width: 400px) {
        padding: 0px 16px;
    }
}

.section__title{
    @include text(#fff,62px,bold);
    display: flex;
    align-items: flex-start;

    span{
        display: inline;
        @include text(#fff,23px,normal);
    }

    @media screen and (max-width: 1450px) {
        font-size: 57px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 47px;
        span{
            @include text(#fff,20px,normal);
        }
    }

    @media screen and (max-width: 1100px) {
        font-size: 62px;
        span{
            @include text(#fff,23px,normal);
        }
    }

    @media screen and (max-width: 700px) {
        font-size: 47px;
        span{
            @include text(#fff,20px,normal);
        }
    }

    @media screen and (max-width: 500px) {
        font-size: 40px;
        span{
            @include text(#fff,20px,normal);
        }
    }

    @media screen and (max-width: 380px) {
        font-size: 32px;
        span{
            @include text(#fff,16px,normal);
        }
    }
}

.section__subtitle {
    text-transform: uppercase;
    @include text(#fff,24px,normal,29px);
    margin-bottom: 20px;

    @media screen and (max-width: 1200px) {
        @include text(#fff,20px,normal,initial);
    }
    @media screen and (max-width: 1100px) {
        @include text(#fff,24px,normal,29px);
    }
    @media screen and (max-width: 500px) {
        @include text(#fff,20px,normal,initial);
    }
    @media screen and (max-width: 380px) {
        @include text(#fff,16px,300);
        margin-bottom: 16px;
    }
}

.intro{
    position: relative;

    padding-top: 178px;
    padding-bottom: 60px;
    background: linear-gradient(to right, $aqua_1 50%, white 50%);
    width: 100%;
    min-height: calc(100vh - 104px);

    .intro__content{
        display: flex;
        align-items: center;
        
        .content__info {
            position: relative;
            z-index: 2;

            .info__slogan {
                @include text(#fff,36px,bold);
                margin-bottom: 86px;

                @media screen and (max-width: 1200px) {
                    @include text(#fff,30px,bold);
                    margin-bottom: 70px;
                }

                @media screen and (max-width: 1100px) {
                    @include text(#fff,36px,bold);
                    margin-bottom: 70px;
                }

                @media screen and (max-width: 700px) {
                    @include text(#fff,30px,bold);
                    margin-bottom: 40px;
                }

                @media screen and (max-width: 500px) {
                    @include text(#fff,25px,bold);
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 380px) {
                    @include text(#fff,18px,bold);
                    margin-bottom: 20px;
                }
            }

            .info__tabs {
                display: flex;
                margin-bottom: 48px;

                .tabs__radio {
                    display: none;
                }

                .tabs__radio:checked + .tabs_item{
                    border: 1px solid #fff;
                }

                .tabs_item {
                    transition: all .2s linear;
                    display: block;
                    border: 1px solid rgba(#fff, .5);
                    padding: 29px 48px;
                    margin-right: 24px;
                    cursor: pointer;

                    .item__text {
                        @include text(#fff,18px,500);

                        @media screen and (max-width: 1200px) {
                            @include text(#fff,16px,500);
                        }

                        @media screen and (max-width: 380px) {
                            @include text(#fff,14px,500);
                        }
                    }

                    @media screen and (max-width: 1200px) {
                        padding: 20px 30px;
                    }

                    @media screen and (max-width: 500px) {
                        flex: 0 1 48%;
                        text-align: center;
                        margin: 0;
                    }

                    @media screen and (max-width: 380px) {
                        padding: 12px 10px;
                    }
                }

                @media screen and (max-width: 1100px) {
                    margin-bottom: 30px;
                }

                @media screen and (max-width: 500px) {
                    justify-content: space-between;
                    margin-bottom: 16px;
                }
            }
            
            .info__links {
                
                .links__item{
                    text-decoration: none;
                    @include text(#fff,16px,normal);
                    margin-right: 40px;

                    @media screen and (max-width: 330px) {
                        margin-right: 20px;
                    }
                }
            }

            @media screen and (max-width: 1100px) {
                background: $aqua_1;
                order: 2;
                width: 100vw;
                margin-left: -40px; // ******************************

                padding: 60px 40px;
                padding-top: 90px;
            }

            @media screen and (max-width: 650px) {
                margin-left: -20px;
                padding: 40px 20px;
                padding-top: 70px;
            }

            @media screen and (max-width: 400px) {
                margin-left: -16px;
                padding: 40px 16px;
                padding-top: 70px;
            }
        }
        
        .content__img {
            margin-left: 143px;
            position: relative;
            z-index: 2;
            
            .intro_vitamins{
                position: absolute;
                top: -27px;
                right: -20px;
                transform: translateX(80%);
            }

            @media screen and (max-width: 1650px) {
                max-width: 40vw;
                margin-left: 83px;
                img{
                   max-width: 100%;
                }

                .intro_vitamins{
                    max-width: 60%;
                    top: -7px;
                    right: 0px;
                }
            }
            @media screen and (max-width: 1550px) {
                .intro_vitamins{
                    max-width: 55%;
                    top: 70px;
                    right: 40px;
                }
            }
            @media screen and (max-width: 1400px) {
                max-width: 35vw;
            }

            @media screen and (max-width: 1100px) {
                order: 1;
                max-width: 44vw;
                margin: 0 auto;
                margin-bottom: -55px;
            }

            @media screen and (max-width: 700px) {
                max-width: 55vw;
                margin-bottom: -45px;

                .intro_vitamins{
                    right: 50px;
                }
            }

            @media screen and (max-width: 500px) {
                max-width: 65vw;
                margin-bottom: -45px;

                .intro_vitamins{
                    right: 0px;
                    top: initial;
                    bottom: 0px;

                    transform: translate(30%,30%);
                }
            }

            @media screen and (max-width: 380px) {
                max-width: 73vw;
            }
        }

        .content__btn{
            @media screen and (max-width: 1100px) {
                margin: 0;
                margin-bottom: 30px;
            }
            @media screen and (max-width: 500px) {
                padding: 14px 5px;
                width: 100%;
                margin-bottom: 16px;
            }
            @media screen and (max-width: 380px) {
                @include text(#fff,18px,bold);
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .md{
        @media screen and (max-width: 1100px) {
            display: none !important;
        }
    }

    .mb{
        display: none !important;
        @media screen and (max-width: 1100px) {
            display: block !important;
        }
    }

    .content__btn {
        position: relative;

        display: block;
        margin-left: auto;
        @include text(#fff,22px,bold);
        padding: 21px 85px;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 2;

        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        background-size: 1300% 100%;

        background-image: linear-gradient(180deg, #FF0082 30%, rgb(46, 0, 23) 200%);
        // box-shadow: 0px 64.3333px 128.667px , inset 0px -21.4444px 21.4444px #B8005D, inset 0px 21.4444px 21.4444px #FF0087;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, #FF0082 0%, rgb(46, 0, 23) 160%);
            z-index: -1;
            transition: opacity 0.2s linear;
            opacity: 0;
          }

        &:hover{
            &::before{
                opacity: 1;
            }
        }
        
        @media screen and (max-width: 1650px) {
            margin-top: 30px;
        }
    }

    .bg_img{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        
        img{
            max-height: 120vh;
            height: 100%;

            @media screen and (max-width: 1200px) {
                max-height: 110vh;
            }

            
        }
        @media screen and (max-width: 1100px) {
            display: none;
            max-width: 100vw;
            width: 100%;
            top: -30px;
            img{
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1450px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 1100px) {
        background: #fff;
        padding-top: 80px;
        padding-bottom: 0;
        height: initial;
        width: initial;
        min-height: auto;
    }

    @media screen and (max-width: 500px) {
        padding-top: 30px;
    }
}

.deficit{
    position: relative;

    border-top: 12px solid $light_grey;
    padding-top: 72px;
    padding-bottom: 80px;

    .deficit__content{}

    .deficit__info {
        position: relative;
        z-index: 2;

        max-width: 665px;
        margin-bottom: 65px;

        .info__title {
            color: $crimson_1;

            @media screen and (max-width: 1450px) {
                font-size: 42px;
            }

            @media screen and (max-width: 1200px) {
                max-width: 70vw;
            }
            @media screen and (max-width: 1100px) {
                max-width: 85vw;
                font-weight: 800;
                font-size: 35px;
            }
            @media screen and (max-width: 700px) {
                
                max-width: 80vw;
            }

            @media screen and (max-width: 500px) {
                max-width: 85vw;
                
            }
            @media screen and (max-width: 400px) {
                max-width: 85vw;
                font-size: 25px;
                font-weight: 800;
            }

            @media screen and (max-width: 350px) {
                font-size: 23px;
            }
        }

        .info__text{
            margin-top: 26px;
            @include text($grey_2,24px,500,140%);

            @media screen and (max-width: 500px) {
                margin-top: 12px;
                font-size: 20px;
            }

            @media screen and (max-width: 400px) {
                margin-top: 12px;
                font-size: 14px;
            }
        }

        @media screen and (max-width: 900px) {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 500px) {
            margin-bottom: 30px;
        }
    }

    .deficit__list {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;

        .list__item {
            flex: 0 1 22%;

            .item__image{
                position: relative;
                display: block;
                margin-bottom: 17px;

                img{
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    border: 4px solid #E8E8E8;
                }

                .image_back{
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    width: 100%;
                    height: 98%;
                    
                    z-index: 1;
                    background: $light_grey;
                }

                @media screen and (max-width: 600px) {
                    margin-bottom: 8px;
                }
                @media screen and (max-width: 400px) {
                    margin-bottom: 6px;
                }
            }

            .item__text {
                @include text($crimson_1,34px,bold,34px);
                max-width: 60%;

                @media screen and (max-width: 1450px) {
                    @include text($crimson_1,28px,bold,initial);
                }

                @media screen and (max-width: 900px) {
                    max-width: 100%;
                }

                @media screen and (max-width: 600px) {
                    @include text($crimson_1,23px,bold,initial);
                }
                @media screen and (max-width: 500px) {
                    @include text($crimson_1,20px,bold,initial);
                }
                @media screen and (max-width: 400px) {
                    @include text($crimson_1,14px,800,initial);
                }
            }

            @media screen and (max-width: 1400px) {
                .item__text {
                    @include text($crimson_1,25px,bold,initial);
                    max-width: 60%;
                }
            }

            @media screen and (max-width: 900px) {
                flex: 0 1 45%;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 600px) {
                flex: 0 1 48%;
            }

            @media screen and (max-width: 400px) {
                flex: 0 1 47%;
            }
        }
        
        @media screen and (max-width: 1400px) {
            flex-wrap: wrap;
        }

        // @media screen and (max-width: 900px) {
        //     // justify-content: initial;
        // }
    }

    .mb_bg{
        display: none;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        img{
            min-height: 70vh;
            height: 100%;
        }

        @media screen and (max-width: 1100px) {
            display: block;
        }

        @media screen and (max-width: 400px) {
            img{
                min-height: initial;
            }
        }
    }

    @media screen and (max-width: 1450px) {
        padding-top: 55px;
    }

    @media screen and (max-width: 1100px) {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @media screen and (max-width: 700px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: 400px) {
        padding-bottom: 0px;
    }
}
 
.benefits {
    position: relative;
    z-index: 1;
    padding-top: 104px;
    min-height: 90vh;
    background: $aqua_2;

    overflow-y: hidden;
    overflow-x: hidden;

    .benefits__content {
        position: relative;
        z-index: 2;
        .content__header {
            margin-bottom: 40px;
            @media screen and (max-width: 1000px) {
                margin-bottom: 25px; 
            }
            @media screen and (max-width: 500px) {
                margin-bottom: 0px; 
            }
        }
        
        .content__text {
            @include text(#fff,32px,300,140%);
            margin-bottom: 90px;

            @media screen and (max-width: 900px) {
                margin-bottom: 40px;
                @include text(#fff,28px,300,140%);
            }

            @media screen and (max-width: 550px) {
                margin-bottom: 30px;
                @include text(#fff,24px,300,140%);
            }
            @media screen and (max-width: 450px) {
                margin-bottom: 20px;
                @include text(#fff,20px,300,140%);
            }
            @media screen and (max-width: 400px) {
                margin-bottom: 20px;
                @include text(#fff,20px,300,140%);
            }
            @media screen and (max-width: 350px) {
                margin-bottom: 20px;
                @include text(#fff,18px,300,140%);
            }
        }

        .content__list {
            display: flex;
            justify-content: space-between;
            padding: 0px 68px;

            .list__item {
                flex: 0 1 17%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                text-align: left;

                .item__image {
                    position: relative;
                    text-align: left;
                    margin-bottom: 16px;

                    img{
                        width: 156px;
                        height: 156px;
                        position: relative;
                        z-index: 2;
                    }

                    .image_back{
                        position: absolute;
                        top: -7px;
                        left: 10px;
                        z-index: 1;

                        background: $crimson_2;
                        border-radius: 50%;
                        width: 156px;
                        height: 156px;

                    }

                    @media screen and (max-width: 900px) {
                        margin-bottom: 0px;
                        margin-right: 36px;

                        img{
                            width: 126px;
                            height: 126px;
                        }

                        .image_back{
                            width: 126px;
                            height: 126px;
                        }
                    }

                    @media screen and (max-width: 550px) {
                        margin-right: 20px;
                        img{
                            width: 80px;
                            height: 80px;
                        }

                        .image_back{
                            width: 80px;
                            height: 80px;
                            top: -4px;
                            left: 6px;
                        }
                    }
                    @media screen and (max-width: 400px) {
                        margin-right: 15px;
                    }
                }
                
                .item__info{
                    .info__title {
                        @include text(#fff,32px,600,140%);

                        @media screen and (max-width: 1300px) {
                            font-size: 27px;
                        }

                        @media screen and (max-width: 900px) {
                            font-size: 35px;
                        }

                        @media screen and (max-width: 550px) {
                            font-size: 24px;
                        }
                        @media screen and (max-width: 400px) {
                            font-size: 20px;
                        }
                    }

                    .info__text {
                        @include text(#fff,18px,400,140%);

                        @media screen and (max-width: 1300px) {
                            font-size: 16px;
                        }

                        @media screen and (max-width: 900px) {
                            font-size: 20px;
                            line-height: 100%;
                        }
                        @media screen and (max-width: 550px) {
                            font-size: 18px;
                        }
                        @media screen and (max-width: 400px) {
                            font-size: 13px;
                        }
                    }

                    @media screen and (max-width: 550px) {
                        margin-top: -8px;
                    }
                }
                @media screen and (max-width: 1300px) {
                    flex: 0 1 21%;
                }

                @media screen and (max-width: 900px) {
                    flex: 0 1 70%;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 30px;
                }
            }
            
            @media screen and (max-width: 1400px) {
                padding: 0px 34px;   
                padding-bottom: 60px;
            }
            @media screen and (max-width: 1200px) {
                padding: 0px; 
                padding-bottom: 60px; 
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
                padding-bottom: 40px;
            }

            @media screen and (max-width: 500px) {
                padding-bottom: 0px;
            }
        }
        
    }

    .benefits__bg_first{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .benefits__bg_second{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        transform: translateY(50%);

        @media screen and (max-width: 700px) {
            display: none !important;
        }
    }


    @media screen and (max-width: 1450px) {
        padding-top: 90px;
        padding-bottom: 30px;
    }

    @media screen and (max-width: 900px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 700px) {
        padding-bottom: 0px;
    }

    @media screen and (max-width: 500px) {
        overflow-x: hidden;
        padding-top: 32px;
        

        .benefits__bg_first{
            transform: rotate(30deg) scale(.8);
            max-width: 100vw;
            top: -30px;
            right: -30%;
        }
    }
}

.how_to_apply{
    position: relative;
    z-index: 2;

    padding-top: 89px;
    padding-bottom: 97px;
    min-height: 70vh;

    .section__title{
        position: relative;
        z-index: 2;

        max-width: 770px;
        line-height: 66px;
        font-weight: 800;
        color: $aqua_1;

        @media screen and (max-width: 1450px) {
            font-size: 47px;
        }

        @media screen and (max-width: 500px) {
            line-height: initial;
            font-size: 35px;
        }

        @media screen and (max-width: 400px) {
            line-height: initial;
            font-size: 27px;
        }
        @media screen and (max-width: 360px) {
            line-height: initial;
            font-size: 20px;
        }
    }

    .how_to_apply__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 116px;

        .content__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: 67px;

            flex: 0 1 33%;

            .list__item {
                position: relative;
                z-index: 2;

                flex: 0 1 48%;
                margin-bottom: 63px;

                .item__image {
                    position: relative;
                    width: 120px;
                    height: 120px;
                    margin-bottom: 24px;

                    .image__wrapper{
                        width: 100%;
                        height: 100%;

                        border-radius: 50%;
                        padding-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background: $aqua_2;
                        z-index: 2;
                    }

                    .image__back{
                        position: absolute;
                        top: -7px;
                        right: -11px;
                        z-index: -1;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;

                        background: #C8EBE8;
                    }

                    @media screen and (max-width: 700px) {
                        position: relative;
                        width: 90px;
                        height: 90px;
                        margin-bottom: 12px;

                        .image__wrapper{
                            text-align: center;
                            img{
                                max-width: 75%;
                            }
                        }

                        .image__back{
                            top: -5px;
                            right: -9px;
                            width: 90px;
                            height: 90px;
                        }
                    }

                    @media screen and (max-width: 400px) {
                        position: relative;
                        width: 60px;
                        height: 60px;
                        margin-bottom: 10px;

                        .image__wrapper{
                            text-align: center;
                            img{
                                max-width: 45%;
                            }
                        }

                        .image__back{
                            top: -5px;
                            right: -5px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }

                .item__text {
                    @include text($green,18px,600,120%);

                    @media screen and (max-width: 1500px) {
                        @include text($green,16px,600,120%);
                    }

                    @media screen and (max-width: 700px) {
                        @include text($green,14px,600,120%);
                    }

                    @media screen and (max-width: 400px) {
                        @include text($green,11px,600,100%);
                    }
                }

                @media screen and (max-width: 1100px) {
                    flex: 0 1 34%;
                    margin-right: 30px;
                }

                @media screen and (max-width: 700px) {
                    margin-bottom: 35px;
                }

                @media screen and (max-width: 500px) {
                    flex: 0 1 45%;
                    margin-right: 0px;
                }

                @media screen and (max-width: 400px) {
                    margin-bottom: 16px;
                }
            }

            @media screen and (max-width: 1650px) {
                padding-top: 50px;
                flex: 0 1 37%;
            }

            @media screen and (max-width: 1550px) {
                flex: 0 1 42%;
                margin-right: 0px;

                .list__item{
                    flex: 0 1 48%;
                }
            }

            @media screen and (max-width: 1150px) {
                flex: 0 1 47%;
            }

            @media screen and (max-width: 1100px) {
                justify-content: flex-start;

                flex: 0 1 100%;
            }

            @media screen and (max-width: 500px) {
                justify-content: space-between;
                padding-top: 20px;
            }
        }
        
        .content__img {
            position: relative;
            z-index: 2;
            
            img{
                max-width: 100%;
            }

            .how_to_apply_vitamins {
                max-width: 50%;
                position: absolute;
                top: 55px;
                right: 0;

                transform: translateX(42%);
                
            }

            @media screen and (max-width: 1450px) {
                margin-right: -100px;
            }

            @media screen and (max-width: 1300px) {
                img{
                    margin-right: -120px;
                }
            }

            @media screen and (max-width: 1200px) {
                margin-right: -140px;
                img{
                    margin-right: -160px;
                } 
            }

            @media screen and (max-width: 1100px) {
                margin-right: 0px;
                max-width: 60vw;
                justify-content: start;

                img{
                    margin-right: 0px;
                } 
            }

            @media screen and (max-width: 700px) {
                max-width: 70vw;
            }

            @media screen and (max-width: 500px) {
                max-width: 90%;
                margin-left: -10%;
            }

            @media screen and (max-width: 400px) {
                max-width: 92%;
                margin-left: -10%;
            }
        }

        .content__btn {
            position: relative;
            display: block;
            margin-left: auto;
            @include text(#fff,22px,bold);
            padding: 21px 70px;
            border: none;
            cursor: pointer;
            position: relative;
            z-index: 2;

            background: linear-gradient(180deg, #FF0082 30%, rgb(46, 0, 23) 200%);

            margin-top: auto;
            
            position: relative;
            z-index: 2;

            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-size: 1300% 100%;

            background-image: linear-gradient(180deg, #FF0082 30%, rgb(46, 0, 23) 200%);
            // box-shadow: 0px 64.3333px 128.667px , inset 0px -21.4444px 21.4444px #B8005D, inset 0px 21.4444px 21.4444px #FF0087;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(180deg, #FF0082 0%, rgb(46, 0, 23) 160%);
                z-index: -1;
                transition: opacity 0.2s linear;
                opacity: 0;
            }

            &:hover{
                &::before{
                    opacity: 1;
                }
            }

            @media screen and (max-width: 1100px) {
                margin-left: 0px;
                padding: 21px 120px;
            }

            @media screen and (max-width: 500px) {
                margin-left: 0px;
                padding: 11px;
                
                width: 100%;
            }

            @media screen and (max-width: 400px) {
                font-size: 16px;
            }
        }


        @media screen and (max-width: 1650px) {
            padding-left: 56px;   
        }

        @media screen and (max-width: 1550px) {
            padding-left: 35px;
        }

        @media screen and (max-width: 1300px) {
            padding-left: 10px;
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            align-items: baseline;
            padding-left: 0px;
        }
    }

    .bg__image{
        position: absolute;
        top: 12px;
        right: 0px;
        z-index: 1;
        
        img{
            min-height: 90vh;
        }
    }

    @media screen and (max-width: 1450px) {
        padding-top: 42px;
    }


    @media screen and (max-width: 700px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media screen and (max-width: 600px) {
        overflow: hidden;

        .bg__image{
            position: absolute;
            top: initial;
            bottom: -60px;
            
            left: 120px;
            z-index: 1;

            transform: rotate(45deg) translateY(20%) ;
            
            img{
                max-width: 100vw;
                max-height: 115vw;
            }
        }  
    }

    @media screen and (max-width: 400px) {
        overflow: hidden;

        .bg__image{
            position: absolute;
            top: initial;
            bottom: -20px;
            
            left: 110px;
            z-index: 1;

            transform: rotate(45deg) translateY(20%) ;
            
            img{
                max-width: 100vw;
                max-height: 100vw;
            }
        }  
    }
}

.where_to_buy {
    position: relative;
    z-index: 2;

    background: #F7F7F7;
    padding-top: 52px;
    padding-bottom: 71px;

    .where_to_buy__content {

        .content__title {
            margin-bottom: 45px;
            @include text($aqua_1,32px,800);

            @media screen and (max-width: 600px) {
                margin-bottom: 25px;
            }

            @media screen and (max-width: 450px) {
                @include text($aqua_1,26px,800);
                margin-bottom: 16px;
            }
            @media screen and (max-width: 450px) {
                @include text($aqua_1,23px,800);
            }
            @media screen and (max-width: 400px) {
                @include text($aqua_1,20px,800);
            }
        }

        .content__list {
            display: flex;
            justify-content: space-between;

            .list__item {
                flex: 0 1 24%;
                background: #fff;
                
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 68px;
                padding-bottom: 68px;

                .item__img {
                   img{
                    max-width: 100%;
                   }
                }
                
                @media screen and (max-width: 1550px) {
                    padding: 48px 30px;
                    padding-bottom: 46px;
                }

                @media screen and (max-width: 900px) {
                    flex: 0 1 48%;
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 600px) {
                    padding: 32px 20px;
                }

                @media screen and (max-width: 450px) {
                    flex: 0 1 49%;
                    margin-bottom: 10px;
                    padding: 22px 15px;
                }
                @media screen and (max-width: 400px) {
                    margin-bottom: 7px;
                    padding: 22px 11px;

                    &:nth-child(3){
                        padding-left: 24px;
                        padding-right: 24px;
                    }
                }
            }
            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
            }
        }
    }
    @media screen and (max-width: 900px) {
        padding-top: 32px;
        padding-bottom: 51px;
    }

    @media screen and (max-width: 400px) {
        padding: 32px 0px;
    }
}

